@page "/"
@using OceniFilm.Models.Videoteka
@using OceniFilm.Services

@if(videoteka != null)
{
<CardDeck>
    <Row Gutter="(32, 32)">
            @foreach(var film in videoteka)
            {
                if (film.SeznamIgralcev != null)
                {
                    <Column ColumnSize="ColumnSize.Is4">
                        <FilmCard 
                            poster="@film.Poster" 
                            imdbOcena="@film.ImdbOcena" 
                            naslov="@film.Naslov" 
                            letoIzdaje="@film.LetoIzdaje"
                            seznamZanrov="@film.SeznamZanrov"
                            seznamIgralcev="@film.SeznamIgralcev"
                            napovednikUrl="@film.Napovednik"/>
                    </Column>
                }
            }
    </Row>
    </CardDeck>
} else
{
    <div class="spinner"></div>
}

@code {
    [Inject]
    public IFilmService FilmService { get; set; }

    public IEnumerable<Film> videoteka { get; set; }

    protected override async Task OnInitializedAsync()
    {
        videoteka = await FilmService.GetFilmiAsync();
    }
}